/* START Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* END Reset CSS */

body {
    background: none;
    background-color: #ecf0f1;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
#middle {
    margin-top: 10em;
}
img {
    display: inline-block;
    vertical-align: middle;
}
h1 {
    font-size: 2em;
    color: #000000;
    display: inline-block;
    position: relative;
}

h2 {
    margin-top: 1em;
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
}

.email_input_group {
    margin-top: 0.5em;
    background-color: #ecf0f1;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    height: 1.4em;
    width: 20em;
}

#mce-EMAIL {
    border: 0;
    border-radius: 4px 0 0 4px;
    width: 70%;
    height: 100%;
}

.response {
	text-align: center;
	position: relative;
}

#mce-responses {
	text-align: center;
	width: 50%;
	margin-top: 0.5em;
	margin-left: 25%;
}

.button {
    border: 0;
    border-radius: 0 4px 4px 0;
    background-color: #3498db;
    color: white;
    width: 10%;
    height: 100%;
}

.button:hover {
    cursor: pointer;
}

#redLine {
    display: inline-block;
    background-color: #e74c3c;
    height: .2em;
    width: 20%;
    vertical-align: middle;
    margin-top: 1em;
}
#blueLine {
    display: inline-block;
    height: .2em;
    width: 20%;
    background-color: #3498db;
    vertical-align: middle;
    margin-top: 1em;
}
